* {
  box-sizing: border-box;
}

:root {
  --color-212529: #212529;
  --color-ffd333: #ffd333;
  --color-47ad24: #47ad24;
  --color-e52e2e: #e52e2e;
  --color-828599: #828599;
  --color-ed464d: #ed464d;
  --color-c3d4da: #c3d4da;
}

.green {
  color: var(--color-47ad24);
}
.red {
  color: var(--color-e52e2e);
}
.quill {
  background-color: white;
}
.form-control {
  box-shadow: none;
  border-color: var(--color-c3d4da);
}
.title {
  font-size: 28px;
  font-family: Roboto !important;
}
.dropdown-menu li a {
  line-height: 30px;
  width: 100%;
}
.error {
  color: var(--color-e52e2e);
  font-size: 13px;
}
